button{
    border-radius:15px;
    font-size:36px;
    background-color:yellow;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

p{
    text-align:center;
}

.humanscore, .computerscore{
    text-align:center;
}

.display_score{
    text-align:center;
    margin-top:30px;
} 

.results{
    text-align:center;
} 